

.title1{
	color: white;
}



.Mision{
	margin: 30px auto;
	min-width: 450px;
	max-width: 600px;
	background: #424153;
	color:white;
	opacity: 0.89;
}

.Vision{	
	margin: 30px auto;
	min-width: 450px;
	max-width: 600px;
	background: #424153;
	color:white;
	opacity: 0.89;
}


.Letra{
	margin: 30px auto;
	min-width: 450px;
	max-width: 600px;
	background: #1C1C1C;
	color:white;
	opacity: 0.89;
}

#intro1{
	background-image: url(http://www.ok-studios.de/fileadmin/templates/okstudios/images/design_bg.jpg);
	background-repeat:no-repeat;
	background-position:center-top;
	 height: 600px;
	background-attachment:fixed;
	position:relative;
	width:100%;
	margin-right:auto;
	margin-left:auto;
}

#intro2{
	background-image: url(http://www.putzengel.at/assets/graphics/about/bg_yellow.png);
	background-repeat:no-repeat;
	background-position:center-top;
	 height: 600px;
	background-attachment:fixed;
	position:relative;
	width:100%;
	margin-right:auto;
	margin-left:auto;
}

#intro3{
	background-image: url(http://www.putzengel.at/assets/graphics/home/bg_white.png);
	background-repeat:no-repeat;
	background-position:center-top;
	 height: 600px;
	background-attachment:fixed;
	position:relative;
	width:100%;
	margin-right:auto;
	margin-left:auto;
}
#intro4{
	background-image: url(http://www.ok-studios.de/fileadmin/templates/okstudios/images/jobs_bg.jpg);
	background-repeat:no-repeat;
	background-position:center-top;
	 height: 900px;
	background-attachment:fixed;
	position:relative;
	width:100%;
	margin-right:auto;
	margin-left:auto;
}
#basura{
	padding-top: 60px;
	padding-left: 650px;
}
#birds{
	padding-top: 160px;
}